<!-- <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="">
      <span class="material-icons">
        home
      </span>
    </a>

    <a role="button" (click)="toggleClasses()" [ngClass]="active ? 'is-active':''" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" [ngClass]="active ? 'is-active':''" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="projects">
        projects
      </a>

      <a class="navbar-item" routerLink="blogs">
        Blogs
      </a>

      <a class="navbar-item" routerLink="contact">
        contact
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <span class="material-icons">download</span>
            <strong>Download Resume</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav> -->

<nav class="nav has-shadow is-hidden-tablet">
  <div class="container">
    <div class="nav-right nav-menu">
      <a routerLink="" class="nav-item is-tab is-hidden-tablet">
        home
      </a>
      <a routerLink="projects" class="nav-item is-tab is-hidden-tablet">
        projects
      </a>
      <a routerLink="socials" class="nav-item is-tab is-hidden-tablet">
        socials
      </a>

      <a class="nav-item is-tab is-active">
        <span class="icon"><i class="fa fa-user"></i></span>
      </a>
      <a class="nav-item is-tab">
        <span class="icon"><i class="fa fa-sign-out"></i></span>
      </a>
    </div>
  </div>
</nav>

<aside class="navbar column is-2  is-narrow-mobile is-fullheight is-hidden-mobile">
    <!-- <p>Hello, <br>Welcome to my site!</p> -->
  <ul class="menu-list mt-50-percent">
    <li class="m-2">
      <a routerLink="" [ngClass]= "{'is-active':currentPage=='' || currentPage=='home'}">
        home
      </a>
    </li>
    <li class="m-2">
      <a routerLink="projects" [ngClass]= "{'is-active':currentPage=='projects'}">
        projects
      </a>

      <!-- <ul>
        <li class="m-2">
          <a href="#">
            <span class="icon is-small"><i class="fa fa-link"></i></span> Link1
          </a>
        </li>
        <li class="m-2">
          <a href="#">
            <span class="icon is-small"><i class="fa fa-link"></i></span> Link2
          </a>
        </li>
      </ul> -->
    </li>
    <li class="m-2">
      <a routerLink="socials" [ngClass]= "{'is-active':currentPage=='socials'}">
        socials
      </a>
    </li>
    <li class="m-2">
      <button class="mt-2 button is-primary">
        view resume

      </button>
    </li>
  </ul>
</aside>
