.navbar {
  height: 100%;
  float: left;
  position: fixed;
  background-color: #fafafa;
}

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}

.mt-50-percent {
  margin-top: 30vh;
}

.is-active {
  color: black !important;
  background-color: #ececec !important;
  transition: .1s ease-out;
}

a:hover {
  transition: .4s ease-out;
}

