<!-- ABOUT -->
<section id="about">
<!-- CONTAINER -->
<div class="box container mt-4">
  <div class="title has-text-centered">hello world!</div>
  <div class="row info">
        <!-- <article> -->
          <div class="col-sm-8">
            <p class="font-fauna subtitle">
              I am Kewin Shah, a part-time software engineer and a full time dreamer. I am passionate about computers, have a knack at problem solving and skilled at solving your problems efficiently.
            </p>
          </div>
          <img src="../../assets/img/profile-pic.png" class="img-responsive is-horizontal-center">
        <!-- </article> -->
      </div>
    </div>
  <!-- END OF CONTAINER -->
</section>

<!-- <section>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li>
        <a class="pagination-link" aria-label="Goto page 1">1</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 45">45</a>
      </li>
      <li>
        <a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 47">47</a>
      </li>
      <li>
        <span class="pagination-ellipsis">&hellip;</span>
      </li>
      <li>
        <a class="pagination-link" aria-label="Goto page 86">86</a>
      </li>
    </ul>
  </nav>

</section> -->
<!-- END OF ABOUT -->
<section>
