.container {
	min-height: 800px;
	width: 800px;
	font-size: large;
}

.boxes-inner {
	flex-direction: column !important;
}

.box {
	width: 100px;
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.center {
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.center:hover {
	border: 3px solid darkgreen;
	background-color: gray;
}
