<section>
  <img class="me mt-4" src="https://gravatar.com/avatar/e907a730e362a6d52844c39c9b91cec7?s=400" alt="" />
  <div class="mt-6 social is-size-5">
    <ul>
      <li>
        <a href="https://twitter.com/mekewin" target="_blank">Twitter</a>
      </li>
      <li>
        |
      </li>
      <li>
        <a href="https://github.com/kewinshah25" target="_blank">Github</a>
      </li>
      <li>
        |
      </li>
      <li>
        <a href="https://linkedin.com/in/kewinshah" target="_blank">LinkedIn</a>
      </li>
      <li>
        |
      </li>
      <li>
        <a href="mailto:kewinshah25@gmail.com">Mail</a>
      </li>
    </ul>
  </div>
</section>
