.font-fauna {
  text-align: center;
  font-family: 'Fauna One', serif;
}

.is-horizontal-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vh;
}

.card {
  width: 65%;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.width-small {
  width: 15vw;
}
